<div class="container">

    <div class="header text-center row">
        <h1 class="page-title"><%= @tool.name %></h1>
        <h2><%= @tool.subtitle %></h2>
        <div class="col-sm-8 col-sm-push-2 col-sm-push-2 col-md-push-3">
            <p><%= @tool.description %></p>
            <%= render "tags" %>
        </div> <!-- col -->
    </div> <!-- header -->

    <%= render @tool.find_by_name %>

    <div class="links text-center">
        <% if current_user && current_user.admin %>
            <%= link_to 'Edit', edit_tool_path(@tool) %> |
        <% end %>
        <%= link_to 'Back', tools_path %>
    </div> <!-- links -->

</div> <!-- container -->
