<div class="container">
    <h1 class="text-center page-title">Edit My Information</h1>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
            <div class="basic-info row">
                <h3>Basic Info</h3>
                <div class="col-sm-6 col-md-4">
                    <%= f.label :first_name %>
                    <%= f.text_field :first_name, class: "form-control" %>
                </div>
                <div class="col-sm-6 col-md-4">
                    <%= f.label :last_name %>
                    <%= f.text_field :last_name, class: "form-control" %>
                </div>
                <div class="col-sm-12 col-md-4">
                    <%= f.label :email %>
                    <%= f.email_field :email, required: true, autofocus: true, class: "form-control" %>
                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                    <% end %>
                </div>
                <div class="col-sm-12 col-md-4">
                    <%= f.label :current_password %>
                    <%= f.password_field :current_password, class: "form-control", required: true %>
                </div>
            </div> <!-- basic info -->
                <p class="passwordChangeHeader1 linkish">Change My Password</p>
                <p class="passwordChangeHeader2 linkish hidden">Keep My Current Password</p>
                <div class="passwordChangeDiv hidden">
                    <div class="col-sm-6">
                        <%= f.label "New Password" %>
                        <%= f.password_field :password, autocomplete: "off", class: "form-control", required: false %>
                    </div>
                    <div class="col-sm-6">
                        <%= f.label "Confirm New Password" %>
                        <%= f.password_field :password_confirmation, required: true, class: "form-control" %>
                    </div>
                </div> <!-- password change -->  

            <div class="row">
                <hr class="col-xs-6 col-xs-push-3" style="margin: 30px 0 30px 0">
            </div>

            <div class="problems-area row">
                <h3 style="margin-top: 0">What would you like to be?</h3>
                <div class="col-sm-4">
                    <%= f.input :less_busy, label: "Less Busy" %>
                    <%= f.input :less_stressed, label: "Less Stressed" %>
                    <%= f.input :happier, label: "Happier" %>
                </div>
                <div class="col-sm-4">
                    <%= f.input :more_relaxed, label: "More Relaxed" %>
                    <%= f.input :less_panicked, label: "Less Panicky" %>
                    <%= f.input :more_motivated, label: "More Motivated" %>
                </div>
                <div class="col-sm-4">
                    <%= f.input :less_worried, label: "Less Worried" %>
                    <%= f.input :more_organized, label: "Organized" %>
                    <%= f.input :other, label: "Other" %>
                </div>
            </div> <!-- problems area -->

        </div> <!-- form inputs -->

        <div class="form-actions text-center">
            <%= f.button :submit, "Update" %><br />
            <%= link_to "Back", :back %>
        </div> <!-- form actions -->

    <% end %>

    <h3>Cancel My Account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

</div> <!-- container -->

<script type="text/javascript">
    $(document).ready(function(){
        $(".passwordChangeHeader1").click(function(){
            $(".passwordChangeHeader1").addClass("hidden");
            $(".passwordChangeHeader2").removeClass("hidden");
            $(".passwordChangeDiv").removeClass("hidden");
        });
        $(".passwordChangeHeader2").click(function(){
            $(".passwordChangeHeader2").addClass("hidden");
            $(".passwordChangeHeader1").removeClass("hidden");
            $(".passwordChangeDiv").addClass("hidden");
        });
    });

</script>