<div class="container">
	<h1 class="text-center page-title">Create an Account</h1>
	<h3 class="text-center"><%= link_to('Already have an account?', new_user_session_path)  %></h3>

	<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		<%= f.error_notification %>

	  	<div class="basic-info row">
		  	<h3>Basic Info</h3>
	  		<div class="col-sm-6 col-md-4">
	  			<%= f.label :first_name %>
	  			<%= f.text_field :first_name, class: "form-control" %>
	  		</div>
	  		<div class="col-sm-6 col-md-4">
	  			<%= f.label :last_name %>
	  			<%= f.text_field :last_name, class: "form-control" %>
	  		</div>
	  		<div class="col-sm-12 col-md-4">
	  			<%= f.label :email %>
	    		<%= f.email_field :email, required: true, autofocus: true, class: "form-control" %>
	    	</div>
	  		<div class="col-sm-6">
	  			<%= f.label "Password" %>
			    <%= f.password_field :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), class: "form-control" %>
		    </div>
	  		<div class="col-sm-6">
	    		<%= f.label "Confirm Password" %>
	    		<%= f.password_field :password_confirmation, required: true, class: "form-control" %>
			</div>
		</div> <!-- basic info -->

		<div class="row">
			<hr class="col-xs-6 col-xs-push-3" style="margin: 30px 0 30px 0">
		</div>

            <div class="problems-area row">
                <h3 style="margin-top: 0">What would you like to be?</h3>
                <div class="col-sm-4">
                    <%= f.input :less_busy, label: "Less Busy" %>
                    <%= f.input :less_stressed, label: "Less Stressed" %>
                    <%= f.input :happier, label: "Happier" %>
                </div>
                <div class="col-sm-4">
                    <%= f.input :more_relaxed, label: "More Relaxed" %>
                    <%= f.input :less_panicked, label: "Less Panicky" %>
                    <%= f.input :more_motivated, label: "More Motivated" %>
                </div>
                <div class="col-sm-4">
                    <%= f.input :less_worried, label: "Less Worried" %>
                    <%= f.input :more_organized, label: "Organized" %>
                    <%= f.input :other, label: "Other" %>
                </div>
            </div> <!-- problems area -->

		<div class="row">
			<hr class="col-xs-6 col-xs-push-3">
		</div>

		<%= f.input :opt_in, label: "Let me know when a new tool comes out." %>

	    <div class="form-actions text-center">
	    	<%= f.button :submit, "Sign up" %><br />
	    	<%= render "devise/shared/links" %>
	    </div>
	<% end %>

<div class="bottom-buffer-clear"></div>
	
</div> <!-- container -->