<h2>Recommendations</h2>
<p class="showRecommendationsHeader linkish">Show Recommendations</p>
<p class="hideRecommendationsHeader hidden linkish">Hide Recommendations</p>
</div> <!-- centered header -->
<div class="recommendationsDiv hidden">
<% if @recommendations.count == 0 %>
	<p class="text-center">There are currently no recommendations for new tools.</p>
<% else %>
	<table>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Description</th>
	      <th>Actions</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @recommendations.each do |recommendation| %>
	      <tr>
	        <td><strong><%= recommendation.tool_name %></strong>
	        	<br /><%= recommendation.user.first_name %> <%= recommendation.user.last_name %>
	        	<br /><%= mail_to recommendation.user.email %>
        	</td>
	        <td><%= recommendation.description %></td>
	        <td>
	        	<%= link_to 'Archive', archive_path(recommendation), method: :post %><br />
	        	<%= link_to 'Delete', recommendation, method: :delete, data: { confirm: 'Are you sure?' } %>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<% end %>

<p class="text-center showArchivedHeader linkish"><small>Show Archived</small></p>
<p class="text-center hideArchivedHeader linkish hidden"><small>Hide Archived</small></p>
<div class="archivedDiv hidden">
	<h3>Archived Recommendations</h3>
	<ul>
	<% @archived_recommendations.each do |recommendation| %>
		<li><%= recommendation.tool_name %> (<%= link_to 'Unarchive', unarchive_path(recommendation), method: :post %>)
	<% end %>
	</ul>
</div> <!-- archived div -->

<script>
	$(document).ready(function(){
		$(".showRecommendationsHeader").click(function(){
			$(this).addClass("hidden");
			$(".hideRecommendationsHeader").removeClass("hidden");
			$(".recommendationsDiv").removeClass("hidden");
		});
		$(".hideRecommendationsHeader").click(function(){
			$(this).addClass("hidden");
			$(".showRecommendationsHeader").removeClass("hidden");
			$(".recommendationsDiv").addClass("hidden");
		});
		$(".showArchivedHeader").click(function(){
			$(this).addClass("hidden");
			$(".hideArchivedHeader").removeClass("hidden");
			$(".archivedDiv").removeClass("hidden");
		});
		$(".hideArchivedHeader").click(function(){
			$(this).addClass("hidden");
			$(".showArchivedHeader").removeClass("hidden");
			$(".archivedDiv").addClass("hidden");
		});
	});
</script>