<div class="container">
	<div class="text-center">
		<h1 class="page-title"><%= @user.first_name %>'s Dashboard</h1>
		<h4>I'm on my way to being 
			<% if @user.less_stressed %>less stressed, <% end %>
			<% if @user.happier %>happier, <% end %>
			<% if @user.more_relaxed %>more relaxed, <% end %>
			<% if @user.less_panicked %>less panicked, <% end %>
			<% if @user.more_motivated %>more motivated, <% end %>
			<% if @user.less_worried %>less worried, <% end %>
			<% if @user.more_organized %>more organized, <% end %>
			and&nbsp;I'm&nbsp;sure&nbsp;I'll&nbsp;be&nbsp;there&nbsp;soon.
		</h4>
		<h4><%= link_to "Edit My Info", edit_user_registration_path %> | <%= link_to('Logout', destroy_user_session_path, :method => :delete) %></h4>
	</div> <!-- centered header -->
	
	<div class="row">
		<hr class="col-xs-6 col-xs-push-3" />
	</div>

	<div class="text-center">
		<h2>Recommendations</h2>
		<p class="showRecommendationsHeader hidden linkish">Show Recommendations</p>
		<p class="hideRecommendationsHeader linkish">Hide Recommendations</p>
	</div> <!-- centered header -->
	<div class="recommendationsDiv">
		<% if @recommendations.count == 0 %>
			<p class="text-center">There are currently no recommendations for new tools.</p>
		<% else %>
			<table>
			  <thead>
			    <tr>
			      <th>Name</th>
			      <th>Description</th>
			      <th>Actions</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @recommendations.each do |recommendation| %>
			      <tr>
			        <td><strong><%= recommendation.tool_name %></strong>
			        	<br /><%= recommendation.user.first_name %> <%= recommendation.user.last_name %>
			        	<br /><%= mail_to recommendation.user.email %>
		        	</td>
			        <td><%= recommendation.description %></td>
			        <td>
			        	<%= link_to 'Archive', archive_path(recommendation), method: :post %><br />
			        	<%= link_to 'Delete', recommendation, method: :delete, data: { confirm: 'Are you sure?' } %>
			        </td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		<% end %>

		<p class="text-center showArchivedHeader linkish"><small>Show Archived</small></p>
		<p class="text-center hideArchivedHeader linkish hidden"><small>Hide Archived</small></p>
		<div class="archivedDiv hidden">
			<h3>Archived Recommendations</h3>
			<ul>
			<% @archived_recommendations.each do |recommendation| %>
				<li><%= recommendation.tool_name %> (<%= link_to 'Unarchive', unarchive_path(recommendation), method: :post %>)
			<% end %>
			</ul>
		</div> <!-- archived div -->
	</div> <!-- recommendattions div -->

	<div class="row">
		<hr class="col-xs-6 col-xs-push-3" />
	</div>

</div>

<script>
	$(document).ready(function(){
		$(".showRecommendationsHeader").click(function(){
			$(this).addClass("hidden");
			$(".hideRecommendationsHeader").removeClass("hidden");
			$(".recommendationsDiv").removeClass("hidden");
		});
		$(".hideRecommendationsHeader").click(function(){
			$(this).addClass("hidden");
			$(".showRecommendationsHeader").removeClass("hidden");
			$(".recommendationsDiv").addClass("hidden");
		});
		$(".showArchivedHeader").click(function(){
			$(this).addClass("hidden");
			$(".hideArchivedHeader").removeClass("hidden");
			$(".archivedDiv").removeClass("hidden");
		});
		$(".hideArchivedHeader").click(function(){
			$(this).addClass("hidden");
			$(".showArchivedHeader").removeClass("hidden");
			$(".archivedDiv").addClass("hidden");
		});
	});
</script>